/* 
Site Creator : Mathieu Collet
Description : Site vitrine perso
Version : 1.0
URL : https://mathieucollet.github.io
Colors :
    * Gris : #808080
    * Bleu : #2b95bf
    * Rouge : #eb5a5b
    * Violet : #945ba1
    * Vert : #55b46e
Fonts :
    * titre : font-family: 'Oswald', sans-serif;
    * global : font-family: 'Hammersmith One', sans-serif;
*/

/* Table of contents
--------------------------------------------------------------------------- /
*
* 0 - General
*   0.1 - Fonts
*   0.2 - Globals
* 1 - Header
*   1.1 Header img
*   1.2 Heade txt
*   1.3 Header global
*   1.4 Menu / Nav Scroll Fixe
*   1.5 Menu / Nav
* 2 - Main
*   2.1 Global main settings
*   2.2 A propos
*   2.2.1 -> Img
*   2.2.2 -> Txt
*   2.2.3 -> Small Card Header
*   2.2.4 -> Small Card Title
*   2.3 Compétences
*   2.3.1 -> Barres
*   2.3.2 -> Compétences autres
*   2.4 Formation
*   2.4.1 New Formation
*   2.4.2 Old Formations
*   2.5 Expériences
*   2.5.1 -> Onglets
*   2.6 Images Déco
*   2.7 Footer
* 3 - Media Queries
*   3.1 1650px
*   3.2 1000px
*   3.2.1 Menu / Navigation
*   3.2.2 Top Card Title
*   3.2.3 A Propos
*   3.2.4 Compétences
*   3.2.5 Formation
*   3.2.6 Expériences

-------------------------------------------------------------------------- */

/* #-------------------------------# */

/* #- 0.0 General                 -# */

/* #-------------------------------# */

/* #- 0.1 FONTS                   -# */

/* #- 0.2 GLOBALS                 -# */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Hammersmith One', sans-serif;
}

.menuBouton {
    display: none;
}

/* #-------------------------------# */

/* #- 1.0 HEADER                  -# */

/* #-------------------------------# */

.header {
    margin-top: 0px;
}

/* #- 1.1 HEADER IMG              -# */

.imgHeader {
    height: 100%;
    height: 100vh;
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.imgHeader h1 {
    color: white;
    font-size: 9vh;
    font-family: 'Quicksand', sans-serif;
}

.imgHeader p {
    padding-top: 2%;
    color: white;
    font-size: 5.5vh;
    font-family: 'Quicksand', sans-serif;
}

.arrows {
    position: absolute;
    bottom: 100px;
}

.arrows a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@-webkit-keyframes fleche {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fleche {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.ar1 {
    -webkit-animation: 1s ease-in-out 0s infinite fleche;
    animation: 1s ease-in-out 0s infinite fleche;
}

.ar2 {
    margin-top: -10px;
}

.ar3 {

    margin-top: -10px;
}


/* #- 1.2 HEADER TEXT             -# */

/* #- 1.3 HEADER GLOBAL           -# */

.header header {
    height: 70px;
    background: white;
}

/* #- 1.4  Menu / NAV -> FIXED    -# */

.header header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

main.fixed {
    margin-top: 70px;
}

/* #- 1.5 Menu / NAV              -# */

/*
#cd-nav {
    display: none;
}
*/

nav {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0 2px 5px #c4c4c4;
    box-shadow: 0 2px 5px #c4c4c4;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 940px;
    margin: auto;
}

.menu a {
    font-size: 1.5em;
    color: #808080;
    display: block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    padding: 22.5px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

nav ul li a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hov1:hover {
    color: #55b46e;
}

.hov2:hover {
    color: #eb5a5b;
}

.hov3:hover {
    color: #945ba1;
}

.hov4:hover {
    color: #2b95bf;
}

.hov5:hover {
    color: #5badd8;
}


/* #-------------------------------# */

/* #- 2.0 MAIN                    -# */

/* #-------------------------------# */

/* #-------------------------------# */

/* #- 2.1 GLOBAL MAIN SETTINGS    -# */

/* #-------------------------------# */

main {
    -webkit-box-shadow: inset 0 2px 5px #c4c4c4;
    box-shadow: inset 0 2px 5px #c4c4c4;
    padding: 60px 0;
    background: #f5f1f1;
    z-index: 1;
}

.sec1 {
    margin-top: 0px;
    position: relative;

}

.sec2,
.sec3,
.sec4 {
    position: relative;
    margin-top: 100px;
    z-index: 2;
}

/* #-------------------------------# */

/* #- 2.2 A PROPOS                -# */

/* #-------------------------------# */

.apropos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 940px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 2;
}

/* #- 2.2.1 A PROPOS IMG          -# */

.apropos img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    z-index: 2;
}

/* #- 2.2.2 A PROPOS TEXT         -# */

.aproposText {
    width: 60%;
    padding-top: 20px;
}

.aproposText h2 {
    color: #55b46e;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 30px;
}

.aproposText p {
    font-size: 1.1em;
    text-align: justify;
}

.part2 {
    margin-top: 15px;
    color: #808080;
    margin-bottom: 15px;
}

/* #- 2.2.3 SMALL CARD HEADER     -# */

.top {
    width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

.topb {
    height: 40px;
    width: 20%;
    border-radius: 15px;
    z-index: 3;
    margin-bottom: -20px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.topb h1 {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.one {
    background: #55b46e;

}

.two {
    background: #eb5a5b;
}

.three {
    background: #945ba1;
}

.four {
    background: #2b95bf;
}

/* #- 2.2.4 SMALL CARD TITLE     -# */

.topb h1 {
    text-align: center;
    line-height: 35px;
    font-size: 1.5em;
}

/* #-------------------------------# */

/* #- 2.3 COMPETENCES             -# */

/* #-------------------------------# */

.comp {
    width: 940px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

}

.barres {
    width: 450px;
}

.barres ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    height: 27px;
    padding-top: 11px;
}

.barres ul li h2 {
    color: #eb5a5b;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.secondh2 {
    margin-top: 15px;
}

/* #- 2.3.1 BARRES                -# */

.progress-bar1 {
    width: 80%;
    height: 25px;
    border-radius: 0 15px 15px 0;
    position: absolute;
    left: 20%;
}

.progress-bar1b {
    width: 64%;
    height: 25px;
    position: absolute;
    left: 20%;
}

.progress-bar1c {
    width: 20%;
    height: 25px;
    position: absolute;
    left: 0;
}

.text1 {
    display: none;
}

.progress-text1 {
    color: white;
    height: 25px;
    width: 100%;
    position: absolute;
    line-height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@-webkit-keyframes text {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes text {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.progress-text1 p:nth-child(2) {
    -webkit-animation-name: text;
    -webkit-animation-duration: 2s;
    -webkit-animation: 3s ease-out 0s 1 text;
    animation: 3s ease-out 0s 1 text;
    display: block;
    width: 50%;
    text-align: right;
    padding-right: 4%;
}

.progress-text1 p:nth-child(1) {
    width: 17%;
    display: block;
    padding-left: 5px;
}

@-webkit-keyframes appear {
    0% {
        width: 0;
    }
    100% {
        min-width: auto;
    }
}

@keyframes appear {
    0% {
        width: 0;
    }
    100% {
        min-width: auto;
    }
}

.bar1 {
    background: rgba(244, 156, 19, 0.78);
}

.bar1b {
    -webkit-animation-name: appear;
    -webkit-animation-duration: 2s;
    -webkit-animation: 2s ease-out 0s 1 appear;
    animation: 2s ease-out 0s 1 appear;
    background: #E77E21;
    width: 64%;
}

.bar1c {
    background: #D35515;
}

.bar2 {
    background: rgba(57, 151, 211, 0.78);
}

.bar2b {
    -webkit-animation-name: appear;
    -webkit-animation-duration: 2s;
    -webkit-animation: 2s ease-out 0s 1 appear;
    animation: 2s ease-out 0s 1 appear;
    background: #3997D3;
    width: 64%;
}

.bar2c {
    background: #35495E;
}

.bar3 {
    background: rgba(119, 123, 180, 0.78);
}

.bar3b {
    -webkit-animation-name: appear;
    -webkit-animation-duration: 2s;
    -webkit-animation: 2s ease-out 0s 1 appear;
    animation: 2s ease-out 0s 1 appear;
    background: #777BB4;
    width: 48%;
}

.bar3c {
    background: #4F5385;
}

.bar4 {
    background: #F6DF1A;
}

.bar4b {
    -webkit-animation-name: appear;
    -webkit-animation-duration: 2s;
    -webkit-animation: 2s ease-out 0s 1 appear;
    animation: 2s ease-out 0s 1 appear;
    background: rgba(251, 188, 21, 0.54);
    width: 20%;
}

.bar4c {
    background: #FBBC15;
}

.bar5 {
    background: rgba(235, 90, 91, 0.78);
}

.bar5b {
    -webkit-animation-name: appear;
    -webkit-animation-duration: 2s;
    -webkit-animation: 2s ease-out 0s 1 appear;
    animation: 2s ease-out 0s 1 appear;
    background: #eb5a5b;
    width: 5%;
}

.bar5c {
    background: #dd3839;
}

.bar6 {
    background: rgba(85, 180, 110, 0.78);
}

.bar6b {
    -webkit-animation-name: appear;
    -webkit-animation-duration: 2s;
    -webkit-animation: 2s ease-out 0s 1 appear;
    animation: 2s ease-out 0s 1 appear;
    background: #55b46e;
    width: 5%;
}

.bar6c {
    background: #24813c;
}

.bar7 {
    background: rgba(148, 91, 161, 0.78);
}

.bar7b {
    -webkit-animation-name: appear;
    -webkit-animation-duration: 2s;
    -webkit-animation: 2s ease-out 0s 1 appear;
    animation: 2s ease-out 0s 1 appear;
    background: #945ba1;
    width: 5%;
}

.bar7c {
    background: #712f80;
}

.bar8 {
    background: rgba(59, 191, 240, 0.78);
}

.bar8b {
    -webkit-animation-name: appear;
    -webkit-animation-duration: 2s;
    -webkit-animation: 2s ease-out 0s 1 appear;
    animation: 2s ease-out 0s 1 appear;
    background: #3bbff0;
    width: 40%;
}

.bar8c {
    background: #3b8ff0;
}

.bar9 {
    background: rgba(239, 122, 26, 0.78);
}

.bar9b {
    -webkit-animation-name: appear;
    -webkit-animation-duration: 2s;
    -webkit-animation: 2s ease-out 0s 1 appear;
    animation: 2s ease-out 0s 1 appear;
    background: #ef7a1a;
    width: 48%;
}

.bar9c {
    background: #bc5b0b;
}

.bar10 {
    background: rgba(233, 69, 145, 0.78);
}

.bar10b {
    -webkit-animation-name: appear;
    -webkit-animation-duration: 2s;
    -webkit-animation: 2s ease-out 0s 1 appear;
    animation: 2s ease-out 0s 1 appear;
    background: #e94591;
    width: 5%;
}

.bar10c {
    background: #c3256e;
}

.bar11 {
    background: rgba(173, 213, 236, 0.78);
}

.bar11b {
    -webkit-animation-name: appear;
    -webkit-animation-duration: 2s;
    -webkit-animation: 2s ease-out 0s 1 appear;
    animation: 2s ease-out 0s 1 appear;
    background: #add5ec;
    width: 48%;
}

.bar11c {
    background: #7db3d3;
}

/* #- 2.3.2 COMPETENCES AUTRES         -# */

.compText {
    width: 450px;
    padding-top: 14px;
    z-index: 2;
}

.compText h2 {
    color: #eb5a5b;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.compText h3 {
    font-size: 1.2em;
    padding-top: 16px;
}

.compText p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1em;
    color: #808080;
    text-align: justify;
}

.compTextHarmo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 85%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 20px;
}

/* #-------------------------------# */

/* #- 2.4 FORMATION               -# */

/* #-------------------------------# */

.formation {
    width: 940px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

}

/* #- 2.4.1 NEW FORMATION          -# */

.new {
    width: 450px;
}

.imgMds,
.textMds {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
}

.imgMds {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.imgMds img {
    height: 55px;
    text-align: center;
}

.textMds h2 {
    color: #945ba1;
    text-align: center;
    padding-top: 10px;
    font-size: 1.2em;
    z-index: 2;
}

.textMds p {
    padding-top: 20px;
    font-size: 1.1em;
    color: black;
    text-align: justify;
    z-index: 2;
}

.textMds .part2 {
    color: #808080;
}

.textMds a {
    text-decoration: none;
    color: black;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 2;
}

.new .textMds p a:hover {
    color: #2b95bf;
}

/* #- 2.4.2 OLD FORMATIONS        -# */

.old {
    width: 450px;
}

.imgAftral,
.textAftral,
.imgOcr,
.textOcr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.imgAftral,
.imgOcr {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.imgAftral img,
.imgOcr img {
    height: 55px;
    text-align: center;
}

.imgOcr img {
    padding-top: 20px;
}

.textAftral h2,
.textOcr h2 {
    color: #945ba1;
    text-align: center;
    padding-top: 10px;
    font-size: 1.2em;
}

.textAftral p,
.textOcr p {
    padding-top: 20px;
    font-size: 1.1em;
    color: #808080;
    text-align: justify;
}

.textAftral a {
    text-decoration: none;
    color: black;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.new .textAftral p a:hover {
    color: #2b95bf;
}



/* #-------------------------------# */

/* #- 2.5 EXPERIENCES             -# */

/* #-------------------------------# */

.exp {
    width: 940px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* #- 2.5.1 ONGLETS               -# */

.systeme_onglets {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 20px;
}

.onglets {
    width: 13%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.onglet {
    display: block;
    cursor: pointer;
}

.onglet_0 {
    width: 100%;
    height: 100px;
    /*    background: #ececec;*/
    border-bottom: 1px solid #ececec;
}

.onglet_1 {
    -webkit-box-shadow: 6px 0 0px white, 0px 2px 5px grey;
    box-shadow: 6px 0 0px white, 0px 2px 5px grey;
    width: 100%;
    height: 100px;
    z-index: 2;
    background: white;
}

#onglet_developpeur {
    background: url('../img/ordi.png') no-repeat;
    background-size: contain;
    background-position: center;
    width: 91%;
    padding: 5px;
    background-origin: content-box;
    /*    z-index: 2;*/
}

#onglet_chauffeur {
    background: url('../img/camion.png') no-repeat;
    background-color: white;
    background-size: contain;
    background-position: center;
    width: 91%;
    padding: 5px;
    background-origin: content-box;
}

#onglet_autres {
    background: url('../img/scooter.png') no-repeat;
    background-color: white;
    background-size: contain;
    background-position: center;
    width: 91%;
    padding: 5px;
    background-origin: content-box;
}

.grey {
    background-color: #ececec;
}

.white {
    background-color: white;
}

.contenu_onglets {
    width: 87%;
    height: 100%;
    z-index: 1;
    margin-left: 0px;
}

.contenu_onglet {
    -webkit-box-shadow: 0 2px 5px grey;
    box-shadow: 0 2px 5px grey;
    margin-top: 0px;
    display: none;
    height: 100%;
    padding: 0 2.5% 0 2.5%;
}

.contenu_onglet ul {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px
}

.contenu_onglet h1 {
    margin: 0px;
}

.dev {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.autre {
    width: 100%;
    height: 100%;
    text-align: center;
}

.autre li {
    padding: 10px 0;
}

.dev h1 {
    color: #ff931e;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 4em;
    padding-top: 40px;
    line-height: 44px;
}

.dev h2,
.autre h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #2b95bf;
    text-align: center;
    font-size: 1.2em;
}

.dev p,
.dev li {
    font-size: 1.1em;
    color: black;
    text-align: justify;
}

.dev .part2 {
    color: #808080;
}

.devUn,
.devDeux {
    width: 49.5%;
    height: 100%;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.devUn {
    padding-right: 20px;
}

.devDeux {
    padding-left: 20px;
}

.sep {
    height: 75%;
    width: 1%;
    -webkit-box-shadow: inset 0 0 4px grey;
    box-shadow: inset 0 0 4px grey;
    border-radius: 10px;
}

.sep2 {
    height: 0.5%;
    width: 50%;
    border: 15px;
    -webkit-box-shadow: inset 0 0 5px #ededed;
    box-shadow: inset 0 0 5px #ededed;
}

.wizdeo {
    height: 50px;
    padding-top: 30px;
}

.devUnQuart {
    width: 100%;
    height: 50%;
    background: white;
}

/* #-------------------------------# */

/* #- 2.6 IMAGES DECO              -# */

/* #-------------------------------# */

.photo,
.imgDev,
.etudes,
.experiences {
    position: absolute;
    z-index: 1;
}

.photo {
    top: 8%;
    left: 5%;
}

.imgDev {
    top: 20%;
    right: 2%;
}

.etudes {
    top: 30%;
    left: 2%;
}

.experiences {
    top: 40%;
    right: 2%;
}

/* #-------------------------------# */

/* #- 2.7 FOOTER                  -# */

/* #-------------------------------# */

footer {
    height: 30%;
    min-height: 235px;
    background: #4D6E91;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 0 -2px 5px #c4c4c4;
    box-shadow: 0 -2px 5px #c4c4c4;
}

.foot {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact {
    line-height: 18px;
    color: white;
}

.contact p:nth-last-child(-n + 2) {
    margin-top: 10px;
}

footer p a {
    text-decoration: none;
    color: white;
}

.rezos {
    padding-top: 30px;
}

.rezos a:nth-child(-n + 2) {
    padding-right: 50px;
}

/* #-------------------------------# */

/* #- 3.0 MEDIA QUERIES           -# */

/* #-------------------------------# */

/* #-------------------------------# */

/* #- 3.1 1650px                  -# */

/* #-------------------------------# */

@media only screen and (max-width: 2000px) {

    .photo,
    .imgDev,
    .etudes,
    .experiences {
        display: none;
    }

}

/* #-------------------------------# */

/* #- 3.2 1000px                  -# */

/* #-------------------------------# */

@media only screen and (max-width: 2000px) {

    /* #-  3.2.1 MENU / NAVIGATION    -# */
    header {
        display: none;
    }

    .imgHeader h1 {
        font-size: 8vh;
    }

    .imgHeader p {
        font-size: 5vh;
    }

    .menu {
        display: none;
    }

    main.fixed {
        margin-top: 0;
    }
    /* #- 3.2.2 TOP CARD TITLE: ;        -# */
    .top {
        width: 100%
    }
    .topb {
        width: 80%;
        padding: 0 30px;
        margin-bottom: -40px;
        border-radius: 10px 10px 0 0;
    }

    /* #- 3.2.3 A PROPOS              -# */
    .apropos {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 80%;
        padding-top: 70px;
    }

    .photoContainer {
        width: 50%;
        border-radius: 10px;
        padding-bottom: 40px;
    }

    .apropos .photoContainer img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        border-radius: 10px;
    }

    .aproposText {
        width: 90%;
    }

    .aproposText .part2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .aproposText h2 {
        text-align: center;
    }
    /* #- 3.2.4 COMPETENCES           -# */
    .comp {
        width: 80%;
        padding-top: 70px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .barres,
    .compText {
        width: 100%
    }

    .compText h2 {
        padding-top: 15px;
    }

    .progress-text1 p:nth-child(1) {
        overflow: hidden;
    }

    /* #- 3.2.5 FORMATION            -# */
    .formation {
        width: 80%;
        padding-top: 70px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .new,
    .old {
        width: 100%;
    }

    .imgAftral img,
    .imgOcr img {
        padding-top: 40px;
    }

    .textMds .part2 {
        padding-bottom: 0;
    }



    /* #- 3.2.6 EXPERIENCES         -# */
    .exp {
        width: 80%;
        height: 100%;
        padding-top: 70px;
    }

    .systeme_onglets {
        flex-direction: column;
        padding: 0;
    }

    .onglets {
        flex-direction: row;
        width: 70%;
        height: 14%;
    }

    .onglet {
        height: 14%;
    }

    .onglet_0 {
        border-right: 1px solid #ececec;
        height 50px;
        width: auto;
        z-index: 1;
    }

    #onglet_developpeur {
        background: url('../img/ordi.png') no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 50px;
        padding: 5px;
        background-origin: content-box;

    }

    #onglet_chauffeur {
        background: url('../img/camion.png') no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 50px;
        padding: 5px;
        background-origin: content-box;
    }

    #onglet_autres {
        background: url('../img/scooter.png') no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 50px;
        padding: 5px;
        background-origin: content-box;
    }

    .onglet_1 {
        -webkit-box-shadow: 0 6px 0px white, -0px 0px 5px grey;
        box-shadow: 0 6px 0px white, -0px 0px 5px grey;
        height: 50px;
        width: auto;
        z-index: 3;
    }

    .contenu_onglets {
        height: 100%;
        margin-left: 0;
        margin-top: -1px;
        z-index: 2;
        width: 100%;
    }

    .contenu_onglet {
        background: white;
        height: 100%;
    }


    .dev,
    .autre {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .autre {
        padding-bottom: 60px;
    }
    .autre h2 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .autre li {
        padding-top: 20px;
    }

    .autre ul {
        margin: 0;
    }

    .devUn {
        width: 100%;
        padding: 0;
        /*        height: 50%; */
    }

    .devDeux {
        width: 100%;
        padding: 0;
        /*        height: 30%;*/
    }

    .sep,
    .sep2 {
        display: none;
    }

    .sep3 {
        display: none;
    }

    .devUnQuart {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .devUnQuart h2 {
        padding-top: 20px;
    }
    .devUnQuart p {
        text-align: center;
        padding-bottom: 10px;
    }

    .part2 {
        padding: 0;
        padding-bottom: 20px;
        margin: 0;
    }

    .dev p {
        padding-bottom: 10px;
    }

    #contenu_onglet_chauffeur {
        height: auto;
    }

    .devDeux p:nth-child(4) {
        margin-bottom: 20px;
    }

    .tab2 {
        margin-bottom: 10px;
    }


    /* #-------------------------------# */
    /* #- 4.0 MENU MOBILE             -# */
    /* #-------------------------------# */
    /* -------------------------------- 

Primary style

-------------------------------- */
    a {
        color: #9cb3a8;
        text-decoration: none;
    }

    nav {
        box-shadow: none;
    }

    .menuBouton {
        display: block;
    }
    /* -------------------------------- 

Main Components 

-------------------------------- */
    .imgHeader {
        z-index: 2;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 0.7s;
        -moz-transition: -moz-transform 0.7s;
        transition: transform 0.7s;
        -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
        -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
        transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    }

    main {
        position: relative;
        z-index: 2;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 0.7s;
        -moz-transition: -moz-transform 0.7s;
        transition: transform 0.7s;
        -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
        -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
        transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    }

    .navigation-is-open main {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    .navigation-is-open .imgHeader {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    .cd-nav-trigger {
        position: fixed;
        z-index: 3;
        left: 5%;
        top: 20px;
        height: 54px;
        width: 54px;
        background-color: #243040;
        border-radius: 50%;
        /* image replacement */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        -webkit-transition: -webkit-transform 0.5s;
        -moz-transition: -moz-transform 0.5s;
        transition: transform 0.5s;
    }
    .cd-nav-trigger .cd-nav-icon {
        /* icon created in CSS */
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: 22px;
        height: 2px;
        background-color: #ffffff;
    }
    .cd-nav-trigger .cd-nav-icon::before,
    .cd-nav-trigger .cd-nav-icon:after {
        /* upper and lower lines of the menu icon */
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
        -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
        transition: transform 0.5s, width 0.5s, top 0.3s;
    }
    .cd-nav-trigger .cd-nav-icon::before {
        -webkit-transform-origin: right top;
        -moz-transform-origin: right top;
        -ms-transform-origin: right top;
        -o-transform-origin: right top;
        transform-origin: right top;
        -webkit-transform: translateY(-6px);
        -moz-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        -o-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    .cd-nav-trigger .cd-nav-icon::after {
        -webkit-transform-origin: right bottom;
        -moz-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        -o-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: translateY(6px);
        -moz-transform: translateY(6px);
        -ms-transform: translateY(6px);
        -o-transform: translateY(6px);
        transform: translateY(6px);
    }
    .no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
        top: 2px;
    }
    .no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
        top: -2px;
    }
    .cd-nav-trigger svg {
        position: absolute;
        top: 0;
        left: 0;
    }
    .cd-nav-trigger circle {
        /* circle border animation */
        -webkit-transition: stroke-dashoffset 0.4s 0s;
        -moz-transition: stroke-dashoffset 0.4s 0s;
        transition: stroke-dashoffset 0.4s 0s;
    }
    .navigation-is-open .cd-nav-trigger {
        /* rotate trigger when navigation becomes visible */
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
        /* animate arrow --> from hamburger to arrow */
        width: 50%;
        -webkit-transition: -webkit-transform 0.5s, width 0.5s;
        -moz-transition: -moz-transform 0.5s, width 0.5s;
        transition: transform 0.5s, width 0.5s;
    }
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after,
    .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
        top: 0;
    }
    .navigation-is-open .cd-nav-trigger circle {
        stroke-dashoffset: 0;
        -webkit-transition: stroke-dashoffset 0.4s 0.3s;
        -moz-transition: stroke-dashoffset 0.4s 0.3s;
        transition: stroke-dashoffset 0.4s 0.3s;
    }

    .cd-nav {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #4D6E91;
        visibility: hidden;
        -webkit-transition: visibility 0s 0.7s;
        -moz-transition: visibility 0s 0.7s;
        transition: visibility 0s 0.7s;
    }
    .cd-nav .cd-navigation-wrapper {
        /* all navigation content */
        height: 800px;
        display: flex;
        flex-direction: column;
        /*    justify-content: space-between;*/
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        padding: 40px 5% 40px calc(5% + 80px);
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: -webkit-transform 0.7s;
        -moz-transition: -moz-transform 0.7s;
        transition: transform 0.7s;
        -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
        -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
        transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    }
    .navigation-is-open .cd-nav {
        visibility: visible;
        -webkit-transition: visibility 0s 0s;
        -moz-transition: visibility 0s 0s;
        transition: visibility 0s 0s;
    }
    .navigation-is-open .cd-nav .cd-navigation-wrapper {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: -webkit-transform 0.5s;
        -moz-transition: -moz-transform 0.5s;
        transition: transform 0.5s;
        -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
        -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
        transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    }
    .cd-nav h2 {
        position: relative;
        margin-bottom: 1.7em;
        font-size: 1.6rem;
        font-weight: 800;
        color: #080b0f;
        text-transform: uppercase;
    }
    .cd-nav h2::after {
        /* bottom separation line */
        content: '';
        position: absolute;
        left: 0;
        bottom: -20px;
        height: 1px;
        width: 60px;
        background-color: currentColor;
    }

    .cd-half-block {
        height: 100%;
    }
    .cd-nav .cd-primary-nav {
        margin-top: 300px;
    }
    .cd-nav .cd-primary-nav li {
        margin: 1.6em 0;
    }
    .cd-nav .cd-primary-nav a {
        font-family: "Merriweather", serif;
        font-size: 2.4rem;
        color: rgba(255, 255, 255, 0.3);
        display: inline-block;
    }
    .cd-nav .cd-primary-nav a.selected {
        color: #ffffff;
    }
    .no-touch .cd-nav .cd-primary-nav a:hover {
        color: #ffffff;
    }
    .cd-nav .cd-contact-info {
        margin-top: 200px;
    }
    .cd-nav .cd-contact-info li {
        font-family: "Merriweather", serif;
        margin-bottom: 1.5em;
        line-height: 1.2;
        color: rgba(255, 255, 255, 0.3);
    }
    .cd-nav .cd-contact-info a {
        color: #ffffff;
    }
    .cd-nav .cd-contact-info span {
        display: block;
    }
    .cd-nav .cd-contact-info li,
    .cd-nav .cd-contact-info a,
    .cd-nav .cd-contact-info span {
        font-size: 1.6rem;
    }
    @media only screen and (min-width: 600px) {
        .cd-nav .cd-navigation-wrapper {
            padding: 40px 20% 62px 20%;
            flex-direction: row;
        }
        .cd-nav .cd-navigation-wrapper::after {
            clear: both;
            content: "";
            display: table;
        }
        .cd-nav .cd-half-block {
            width: 50%;
            float: left;
        }
        .cd-nav .cd-primary-nav {
            margin-top: 150px;
        }
        .cd-nav h2 {
            font-size: 1.5rem;
            margin-bottom: 5.6em;
        }
        .cd-nav .cd-primary-nav li {
            margin: 2em 0;
        }
        .cd-nav .cd-primary-nav a {
            font-size: 2rem;
        }
        .cd-nav .cd-contact-info {
            margin-top: 95px;
            text-align: right;
        }
        .cd-nav .cd-contact-info li {
            margin-bottom: 1.5em;
        }
        .cd-nav .cd-contact-info li,
        .cd-nav .cd-contact-info a,
        .cd-nav .cd-contact-info span {
            font-size: 1.5rem;
        }


        .no-js main,
            {
            height: auto;
            overflow: visible;
        }

        .no-js .cd-nav {
            position: static;
            visibility: visible;
        }
        .no-js .cd-nav .cd-navigation-wrapper {
            height: auto;
            overflow: visible;
            padding: 100px 5%;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }
