/* ------------------------ Polices ---------------------- */

@font-face {
    font-family: 'nerisblack';
    src: url('../font/Neris-Black-webfont.eot');
    src: url('../font/Neris-Black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/Neris-Black-webfont.woff2') format('woff2'),
    url('../font/Neris-Black-webfont.woff') format('woff'),
    url('../font/Neris-Black-webfont.ttf') format('truetype'),
    url('../font/Neris-Black-webfont.svg#nerisblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'slim_jimregular';
    src: url('../font/SlimJim-webfont.eot');
    src: url('../font/SlimJim-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/SlimJim-webfont.woff2') format('woff2'),
         url('../font/SlimJim-webfont.woff') format('woff'),
         url('../font/SlimJim-webfont.ttf') format('truetype'),
         url('../font/SlimJim-webfont.svg#slim_jimregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ------------------------ Couleurs---------------------- 
Bleu : #538fba
Gris police : #686a6a
Gris fond : rgba(183, 183, 183, 0.21)
Gris header : rgba(183, 183, 183, 0.38)
*/

/* ------------------------ Page ---------------------- */

html {
    color: #686a6a;
    font-family: 'slim_jimregular';
}


body {
    background: rgba(183, 183, 183, 0.21);

}

.page {
    margin-top: 2.5vh;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 1px 3px black;
    box-shadow: 0 1px 3px black;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
}

.bande {
    height: 3%;
    min-height: 30px;
    width: 100%;
    background: #538fba;
    margin: 0px;
    padding: 0px;
}

/* ------------------------ Header ---------------------- */

.titre {
    height: 100px;
    margin: auto;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    font-size: 400%;
}

h1 {
    margin-right: 0;
    padding-right: 0;
}

header p {
    text-align: center;
    padding-bottom: 30px;
    font-size: 150%;
}

header {
    background: rgba(183, 183, 183, 0.38);
    height: 17%;
    min-height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative
}

header img {
    width: 159px;
    -webkit-box-shadow: 0 1px 3px black;
    box-shadow: 0 1px 3px black;
    position: absolute;
    top: 10px;
    left: 5px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH;
    -ms-filter: "FlipH";
}

.math {
    display: none;
}

/* ------------------------ Main ---------------------- */

/*Logos*/

.ocr {
    margin-top: 0;
    height: 55px;
}

.mds {
    height: 35px;
}

.classrooms {
    padding-top: 0;
}

.chrono {
    height: 17px;
    width: 14.55625px;
    padding-right: 7px;
}

.validate {
    height: 17px;
    width: 23.84563758389262px;
}

.wizdeo {
    height: 40px;
}

/*Text settings*/

.nospacing {
    letter-spacing: -0em;
}


.small {
    padding-top: 9px;
    font-size: 0.9em;
    text-align: center;
    line-height: 2px;
}

.small2 {
    padding-top: 9px;
    font-size: 0.9em;
    text-align: center;
    line-height: 13px;
}

.exp {
    padding-top: 110px;
}

/*main*/

.classrooms li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 60%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
}

h1 {
    font-family: 'nerisblack';
    letter-spacing: 10px;
}

main {
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 60%;
    min-height: 0px;
}

.pres {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.3em;
}

.article {
    padding-top: 30px;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: right;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
}

main article {
    background: white;
    height: 100%;
    width: 30%;
    text-align: center;
    background: white;
    font-size: 1.2em;
}

main article h2 {
    width: 50%;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
}

.art1 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
}

.art2 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}

.art3 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.river1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.river2 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.river3 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
}

.river5 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
}

.art3 p {
    font-size: 1.1em;
}

ul {
    padding-top: 30px;
}

ul li {
    padding-top: 11px;
}

/*barres*/

.progress-bar1 {
    width: 80%;
    height: 25px;
    border-radius: 0 15px 15px 0;
    position: absolute;
    left: 20%;
}

.progress-bar1b {
    width: 64%;
    height: 25px;
    position: absolute;
    left: 20%;
}

.progress-bar1c {
    width: 20%;
    height: 25px;
    position: absolute;
    left: 0;
}

.progress-text1 {
    color: white;
    height: 25px;
    width: 100%;
    position: absolute;
    line-height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.progress-text1 p:nth-child(2) {
    display: block;
    width: 50%;
    text-align: right;
    padding-right: 4%;
}

.progress-text1 p:nth-child(1) {
    width: 20%;
    display: block;
}

.bar1 {
    background: rgba(244, 156, 19, 0.75);
}

.bar1b {
    background: #E77E21;
    width: 64%;
}

.bar1c {
    background: #D35515;
}

.bar2 {
    background: rgba(57, 151, 211, 0.84);
}

.bar2b {
    background: #3997D3;
    width: 64%;
}

.bar2c {
    background: #35495E;
}

.bar3 {
    background: rgba(119, 123, 180, 0.75);
}

.bar3b {
    background: #777BB4;
    width: 32%;
}

.bar3c {
    background: #4F5385;
}

.bar4 {
    background: #F6DF1A;
}

.bar4b {
    background: rgba(251, 188, 21, 0.54);
    width: 20%;
}

.bar4c {
    background: #FBBC15;
}

.bar5 {
    background: rgba(57, 151, 211, 0.84);
}

.bar5b {
    background: #3997D3;
    width: 5%;
}

.bar5c {
    background: #35495E;
}

.bar6 {
    background: rgba(57, 151, 211, 0.84);
}

.bar6b {
    background: #3997D3;
    width: 5%;
}

.bar6c {
    background: #35495E;
}

.bar7 {
    background: rgba(57, 151, 211, 0.84);
}

.bar7b {
    background: #3997D3;
    width: 5%;
}

.bar7c {
    background: #35495E;
}

/* ------------------------ Main ---------------------- */

footer {
    height: 40%;
    min-height: 235px;
    background: #538fba;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.contact {
    padding-top: 30px;
    line-height: 18px;
    color: white;
}

.contact p:nth-last-child(-n + 2) {
    margin-top: 10px;
}

p a {
    text-decoration: none;
    color: white;
}

.rezos {
    padding-top: 30px;
}

.rezos a:nth-child(-n + 2) {
    padding-right: 50px;
}

.art3 li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 27px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}


/* --------------------------- Media Queries ----------------------- */

@media only screen and (max-width: 1200px) {
    .page {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        padding: none;
        width: 90%;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .bande {
        display: none;
    }
    body {
        height: 100%;
        width: 100%;
        min-width: 0;

    }
    header {
        height: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-shadow: 0 -1px 3px black;
        box-shadow: 0 -1px 3px black;
        background: rgba(183, 183, 183, 0.51);
    }
    header img {
        display: none;
    }
    .math {
        display: block;
        position: static;
        width: 100%;
        padding-top: 0;
        margin-top: 0;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        -webkit-filter: FlipH;
        filter: FlipH;
        -ms-filter: "FlipH";
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    header p {
        padding-bottom: 40px;

    }
    main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        height: 100%;
        padding-top: 0;
        margin-top: 0;
    }
    .article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    main article {
        width: 100%;

    }

    main article h2 {
        width: 125%;
        height: 45px;
        line-height: 40px;
        margin-top: 0px;
        margin-left: -12.5%;
        font-size: 200%;
        background: #538fba;
        color: white;
    }

    main article ul {
        padding-top: 0px;
        margin-top: 30px;
    }

    main article li {
        padding-left: 0;
        padding-right: 0;
    }
    footer {
        -webkit-box-shadow: 0 1px 3px black;
        box-shadow: 0 1px 3px black;
    }

    .titre {
        height: 90%;
    }
    header .titre h1 {
        font-size: 5vw;
        padding-right: 0;
        margin-right: 0;
        height: 90%;
        padding-bottom: 20px;
    }
    header p {
        font-size: 110%;
        padding-bottom: 20px;
        width: 80%;
    }
    .art3,
    .art2,
    .art1 {
        width: 80%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0px;
        padding-bottom: 40px;
        padding-left: 10%;
        padding-right: 10%;
        -webkit-box-shadow: 0 1px 3px 0 black;
        box-shadow: 0 1px 3px 0 black;
    }

    .pres {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: justify;
        width: 80%;
        -webkit-box-shadow: 0 1px 3px black;
        box-shadow: 0 1px 3px black;
        margin: 0;
        padding-left: 10%;
        padding-right: 10%;
    }
    .barrette {
        list-style-type: none;
        width: 100%;
        height: 20px;
        min-height: 20px;
        background: rgba(183, 183, 183, 0.21);
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: inset 0 5px 5px -5px black;
        box-shadow: inset 0 5px 5px -5px black;
    }
    .progress-bar1 {
        height: 25px;
    }

    .progress-bar1b {
        height: 25px;
    }

    .progress-bar1c {
        height: 25px;
    }

    .progress-text1 {
        height: 25px;
        line-height: 28px;
    }
}
