/*! CSS Used from: https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/css/line-awesome.min.css */
.la,
.lab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.la-certificate:before {
    content: "\f0a3";
}

.la-code:before {
    content: "\f121";
}

.la-css3:before {
    content: "\f13c";
}

.la-js-square:before {
    content: "\f3b9";
}

.la-php:before {
    content: "\f457";
}

.la-python:before {
    content: "\f3e2";
}

.la-truck:before {
    content: "\f0d1";
}

.la-users:before {
    content: "\f0c0";
}

.lab {
    font-family: 'Line Awesome Brands';
}

.la {
    font-family: 'Line Awesome Free';
    font-weight: 900;
}

.la.la-calendar-o {
    font-family: 'Line Awesome Free';
    font-weight: 400;
}

.la.la-calendar-o:before {
    content: "\f133";
}

/*! CSS Used from: http://trajan.test/css/app.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

a {
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
}


html {
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    background: white;
    cursor: pointer;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h2,
h3,
hr,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
}

*,
*::before,
*::after {
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

hr {
    border-top-width: 1px;
}

h2,
h3 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

svg,
iframe {
    display: block;
    vertical-align: middle;
}

html {
    font-family: Poppins;
    letter-spacing: .01px;
    font-weight: 500;
    color: #192A3E;
}

.bg-white {
    background-color: #fff;
}

.bg-blue-ultralight {
    background-color: rgba(50, 168, 243, .1);
}

.hover\:bg-blue:hover {
    background-color: #109CF1;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded-xl {
    border-radius: 1rem;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.flex-1 {
    flex: 1 1 0%;
}

.font-title {
    font-family: Bebas Neue;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.h-32 {
    height: 8rem;
}

.h-96 {
    height: 24rem;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.m-auto {
    margin: auto;
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-4 {
    margin-top: 1rem;
}

.ml-6 {
    margin-left: 1.5rem;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.p-1 {
    padding: 0.25rem;
}

.p-6 {
    padding: 1.5rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pt-6 {
    padding-top: 1.5rem;
}

.pl-6 {
    padding-left: 1.5rem;
}

.pt-12 {
    padding-top: 3rem;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-white {
    color: #fff;
}

.text-gray-dark {
    color: #4C5862;
}

.text-orange {
    color: #F7685B;
}

.text-green {
    color: #2ED47A;
}

.text-blue {
    color: #109CF1;
}

.hover\:text-white:hover {
    color: #fff;
}

.hover\:text-orange-lighter:hover {
    color: #FB8378;
}

.text-sm {
    font-size: 0.875rem;
}

.text-2xl {
    font-size: 1.5rem;
}

.text-3xl {
    font-size: 1.875rem;
}

.text-5xl {
    font-size: 3rem;
}

.w-176 {
    width: 44rem;
}

.w-10\/12 {
    width: 83.333333%;
}

.w-11\/12 {
    width: 91.666667%;
}

.w-full {
    width: 100%;
}

@media (min-width: 640px) {
    .sm\:w-full {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .md\:flex-row {
        flex-direction: row;
    }

    .md\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .md\:w-1\/2 {
        width: 50%;
    }

    .md\:w-8\/12 {
        width: 66.666667%;
    }
}

@media (min-width: 1024px) {
    .lg\:block {
        display: block;
    }

    .lg\:flex {
        display: flex;
    }

    .lg\:hidden {
        display: none;
    }

    .lg\:flex-row {
        flex-direction: row;
    }

    .lg\:justify-between {
        justify-content: space-between;
    }

    .lg\:h-128 {
        height: 32rem;
    }

    .lg\:m-auto {
        margin: auto;
    }

    .lg\:m-0 {
        margin: 0;
    }

    .lg\:py-0 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .lg\:pt-12 {
        padding-top: 3rem;
    }

    .lg\:pt-24 {
        padding-top: 6rem;
    }

    .lg\:text-left {
        text-align: left;
    }

    .lg\:text-right {
        text-align: right;
    }

    .lg\:text-4xl {
        font-size: 2.25rem;
    }

    .lg\:text-5xl {
        font-size: 3rem;
    }

    .lg\:w-1\/2 {
        width: 50%;
    }

    .lg\:w-1\/3 {
        width: 33.333333%;
    }

    .lg\:w-2\/3 {
        width: 66.666667%;
    }

    .lg\:w-7\/12 {
        width: 58.333333%;
    }
}

/*! CSS Used from: Embedded */
#hero,
#footer {
    background: linear-gradient(-90deg, #F7685B, #FF3C5F, #885AF8, #109CF1);
    background-size: 400% 400%;
    -webkit-animation: gradientBG 30s ease-in-out infinite;
    animation: gradientBG 30s ease-in-out infinite;
}

#hero-svg {
    right: -10px;
    bottom: 0;
}

.lab,
.la {
    font-size: 2rem;
}

.la-js-square {
    color: #f7df1e;
    background-color: rgba(247, 223, 30, 0.1);
}

.la-php {
    color: #4f5b93;
    background-color: rgba(79, 91, 147, 0.1);
}

.la-python {
    color: #4584b6;
    background-color: rgba(255, 222, 87, 0.1);
}

.la-css3 {
    background-color: rgba(38, 77, 228, 0.1);
    color: #264DE4;
}

.la-users {
    background-color: rgba(46, 212, 122, 0.1);
}

.cd-container {
    width: 100%;
    max-width: 1204px;
    margin: 0 auto;
    background: #ffffff;
    padding: 0 10%;
    border-radius: 2px;
}

.cd-container::after {
    content: "";
    display: table;
    clear: both;
}

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#cd-timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    height: 100%;
    width: 4px;
    background: linear-gradient(0deg, white 0%, #109cf1 7%, #109cf1 93%, white 100%);
}

@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 4em;
        margin-bottom: 4em;
    }

    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }

    .cd-timeline-block:first-child {
        margin-top: 0;
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(50, 168, 243, 0.5);
}

.cd-timeline-img:hover {
    -webkit-animation: pulse-data 2s;
    animation: pulse-data 2s;
}

.cd-timeline-img {
    background: #109CF1;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 30px;
        height: 30px;
        left: 50%;
        margin-left: -15px;
        margin-top: 15px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    margin-right: 30px;
    background: #ffffff;
    border-radius: 2px;
    padding: 1rem;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    transition: 0.2s;
}

.cd-timeline-content:hover {
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
}

.cd-timeline-content:hover::before {
    border-right-color: #109CF1;
}

.cd-timeline-content ul {
    color: #334D6E;
}

.cd-timeline-content ul li::before {
    content: "#";
    color: #F7685B;
    padding-right: 0.5rem;
}

.cd-timeline-content h2 a:hover {
    color: #2ED47A;
}

.cd-timeline-content .timeline-content-info {
    background: #ffffff;
    padding: 5px 10px;
    color: #334D6E;
    font-size: 12px;
    border-bottom: 1px solid #EBEFF2;
    border-radius: 2px;
}

.cd-timeline-content .timeline-content-info i {
    margin-right: 5px;
    font-size: 1rem;
}

.cd-timeline-content .timeline-content-info .timeline-content-info-title,
.cd-timeline-content .timeline-content-info .timeline-content-info-date {
    width: calc(50% - 2px);
    display: inline-block;
}

@media (max-width: 500px) {

    .cd-timeline-content .timeline-content-info .timeline-content-info-title,
    .cd-timeline-content .timeline-content-info .timeline-content-info-date {
        display: block;
        width: 100%;
    }
}

.cd-timeline-content .content-skills {
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cd-timeline-content .content-skills li {
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    display: inline-block;
    padding: 2px 10px;
    color: #334D6E;
    margin: 3px 2px;
    text-align: center;
    flex-grow: 1;
}

.cd-timeline-content .content-skills li::before {
    content: "#";
    color: #885AF8;
    padding-right: 0.25rem;
}

.cd-timeline-content .content-skills li:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content h2 {
    color: #334D6E;
    margin-top: 0;
    margin-bottom: 5px;
}

.cd-timeline-content p {
    color: #334D6E;
    font-size: 13px;
    font-size: 0.8125rem;
}

.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-timeline-content::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #b1b1b1;
    transition: 0.2s;
}

.cornerLink {
    position: fixed;
    top: 0;
    right: 0;
    padding: 4rem;
    background: #109CF1;
    border-radius: 9999px;
    z-index: 998;
    transform: translate(+50%, -50%);
    -webkit-animation: pulse 6.25s infinite cubic-bezier(0, .9, .20, 1);
    -moz-animation: pulse 6.25s infinite cubic-bezier(0, .9, .20, 1);
    -ms-animation: pulse 6.25s infinite cubic-bezier(0, .9, .20, 1);
    animation: pulse 6.25s infinite cubic-bezier(0, .9, .20, 1);

}

.la-address-book {
    z-index: 999;
    position: absolute;
    transform: translate(-125%, 25%);
    color: white;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }

    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cornerLink {
        display: none;
    }

    .cd-timeline-content {
        color: white;
        margin-left: 0;
        padding: 1.6em;
        width: 40%;
        margin: 0 6%;
    }

    .cd-timeline-content::before {
        top: 31px;
        left: 100%;
        border-color: transparent;
        border-left-color: #d1d1d1;
    }

    .cd-timeline-content:hover::before {
        border-color: transparent;
        border-left-color: #109CF1;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 31px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #d1d1d1;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content:hover::before {
        border-right-color: #109CF1;
    }

    .sideContact {
        z-index: 999;
        writing-mode: vertical-rl;
        text-orientation: upright;
        position: fixed;
        right: 1%;
        top: 50%;
        transform: translate(0, -50%);
        padding: 1.5rem .5rem;
        border-radius: 9999px;
        color: #109CF1;
        opacity: 0;
        background-color: rgba(50, 168, 243, .1);
        -webkit-animation: pulse 6.25s infinite cubic-bezier(0, .9, .20, 1);
        -moz-animation: pulse 6.25s infinite cubic-bezier(0, .9, .20, 1);
        -ms-animation: pulse 6.25s infinite cubic-bezier(0, .9, .20, 1);
        animation: pulse 6.25s infinite cubic-bezier(0, .9, .20, 1);
    }


    .topContact {
        margin-left: 1.5rem;
        padding: .5rem 1.5rem;
        border-radius: 9999px;
        color: #109CF1;
        background-color: rgba(50, 168, 243, .1);
    }

    .sideContact:hover,
    .topContact:hover {
        background-color: #109CF1;
        color: white;
    }

    .sideVisible {
        opacity: 1;
        transform: translate(0, -50%);
        transition: opacity .5s, transform .5s;
    }

    .sideInvisible {
        opacity: 0;
        transform: translate(100%, -50%);
        transition: opacity .5s, transform .5S;
    }
}


.cornerVisible {
    opacity: 1;
    transform: translate(+50%, -50%);
    transition: opacity .5s, transform .5s;
}

.cornerInvisible {
    opacity: 0;
    transform: translate(+150%, -150%);
    transition: opacity .5s, transform .5S;
}

/*! CSS Used keyframes */
@-webkit-keyframes gradientBG {
    0% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 100%;
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 100%;
    }
}

@-webkit-keyframes pulse-data {
    0% {
        box-shadow: 0 0 0 4px rgba(50, 168, 243, 0.5);
    }

    40% {
        box-shadow: 0 0 0 10px rgba(50, 168, 243, 0);
    }

    70% {
        box-shadow: 0 0 0 0 rgba(50, 168, 243, 0);
    }

    100% {
        box-shadow: 0 0 0 4px rgba(50, 168, 243, 0.5);
    }
}

@keyframes pulse-data {
    0% {
        box-shadow: 0 0 0 4px rgba(50, 168, 243, 0.5);
    }

    40% {
        box-shadow: 0 0 0 10px rgba(50, 168, 243, 0);
    }

    70% {
        box-shadow: 0 0 0 0 rgba(50, 168, 243, 0);
    }

    100% {
        box-shadow: 0 0 0 4px rgba(50, 168, 243, 0.5);
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(16, 155, 241, 0.4);
    }

    15% {
        -webkit-box-shadow: 0 0 0 10px rgba(16, 155, 241, 0);
    }

    20% {
        -webkit-box-shadow: 0 0 0 0 rgba(16, 155, 241, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(16, 155, 241, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(16, 155, 241, 0.4);
        box-shadow: 0 0 0 0 rgba(16, 155, 241, 0.4);
    }

    15% {
        -moz-box-shadow: 0 0 0 10px rgba(16, 155, 241, 0);
        box-shadow: 0 0 0 10px rgba(16, 155, 241, 0);
    }

    20% {
        -moz-box-shadow: 0 0 0 0 rgba(16, 155, 241, 0);
        box-shadow: 0 0 0 0 rgba(16, 155, 241, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(16, 155, 241, 0);
        box-shadow: 0 0 0 0 rgba(16, 155, 241, 0);
    }
}